.me {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  color: #faebd7;
  font-style: italic;
  height: 100vh;
  text-align: center;
}

.me img {
  border-radius: 500px;
  border: 10px solid rgb(27 4 53);
  width: 300px;
  margin: 25px;
}

@media (max-width: 767.98px) {
  .me {
    padding: 10px;
  }
  .me img {
    width: 200px;
  }
}
