.contact-box {
  border: 1px solid rgb(0, 0, 0);
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

.contact-container {
  margin: 100px;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.contact-box {
  margin: 20px;
  width: 320px;
  display: flex;
}
