.contact-box {
  border: 1px solid rgb(0, 0, 0);
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

.contact-container {
  margin: 100px;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.contact-box {
  margin: 20px;
  width: 320px;
  display: flex;
  border-radius: 7px;
}

.whatsapp-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.whatsapp-button i {
  margin-top: 15px;
}

.whatsapp-button:hover {
  background-color: #128c7e;
  color: #fff;
  text-decoration: none;
}
