
  .projects-container {
    background: var(--second-bg-color);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    padding: 20px 60px;
  }
  .carousel {
    width: 400px;
  }
  .cardStyle {
    margin: 20px;
    width: 25rem;
    color: black;
    font-size: 15px;
  }

  .heading {
    text-align: center;
    padding: 30px;
    font-size: 4.5rem;
    color: black;
  }
  
  @media (max-width: 767.98px) {
    .projects-container {
      padding: 10px;
    }
    .item {
      padding: 20px 60px;
    }
  }