.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  flex-direction: column;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}

.skill-icon {
  margin: 30px 30px 30px 30px;
  font-size: 80px;
  color: black;
}


.skills-container{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.skills-container div {
  margin: 20px;
}